.container {
  padding: 20px;
}
.body {
  color: white;
}
.title {
  font-size: 24px;
  margin-bottom: 10px;
}
.message {
  margin: 10px 0;
  font-style: italic;
}
.planetCard {
  border: 2px solid white;
  padding: 16px;
  margin-bottom: 20px;
}
.planetImage {
  display: block;
  margin: 10px 0;
  border: 1px solid white;
}
.clickable {
  cursor: pointer;
  border: 2px solid green;
}
